engine-strict=true
strict-peer-dependencies=false
publish-branch=main

# Always download packages from the Internet unless
# it's a local package inside the workspace
link-workspace-packages=false

//registry.npmjs.org/:_authToken=${NPM_TOKEN}
